/* css */
.c0{
    background-color: #D9D9D9;
}
.c3{
    margin-top: 15rem;

}

.sky-border-bottom{
    border-bottom-width: 8px;
    border-bottom-style: solid;
    border-bottom-color: #D9D9D9;
    margin-bottom: 2rem;
}

.about{
    margin-top: 5rem;
}

.test_info{
    font-size: 30px;
}

.c0 h1{
    color:#09BC8A;
    font-size: 75px;
}

.c0 h2{
    color: black;
    font-size: 60px;
}

h2{
    font-size: 40px;
}


p{
    font-size: 30px;
}

